*~
*.swp
*.swo
.installed.cfg
bin/
bob.docs.egg-info/
develop-eggs/
doc/bob.ap/
doc/bob.bio.base/
doc/bob.bio.face/
doc/bob.bio.gmm/
doc/bob.bio.spear/
doc/bob.bio.vein/
doc/bob.bio.video/
doc/bob.blitz/
doc/bob.buildout/
doc/bob.core/
doc/bob.db.arface/
doc/bob.db.asvspoof/
doc/bob.db.asvspoof2017/
doc/bob.db.atnt/
doc/bob.db.atvskeystroke/
doc/bob.db.avspoof/
doc/bob.db.banca/
doc/bob.db.base/
doc/bob.db.biosecure/
doc/bob.db.biosecurid.face/
doc/bob.db.casme2/
doc/bob.db.caspeal/
doc/bob.db.cohface/
doc/bob.db.cuhk_cufs/
doc/bob.db.frgc/
doc/bob.db.fv3d/
doc/bob.db.gbu/
doc/bob.db.hci_tagging/
doc/bob.db.ijba/
doc/bob.db.iris/
doc/bob.db.kboc16/
doc/bob.db.lfw/
doc/bob.db.livdet2013/
doc/bob.db.mnist/
doc/bob.db.mobio/
doc/bob.db.msu_mfsd_mod/
doc/bob.db.multipie/
doc/bob.db.nist_sre12/
doc/bob.db.oulunpu/
doc/bob.db.pericrosseye/
doc/bob.db.putvein/
doc/bob.db.replay/
doc/bob.db.replaymobile/
doc/bob.db.scface/
doc/bob.db.utfvp/
doc/bob.db.uvad/
doc/bob.db.verafinger/
doc/bob.db.voicepa/
doc/bob.db.voxforge/
doc/bob.db.wine/
doc/bob.db.xm2vts/
doc/bob.db.youtube/
doc/bob.extension/
doc/bob.io.audio/
doc/bob.io.base/
doc/bob.io.image/
doc/bob.io.matlab/
doc/bob.io.video/
doc/bob.ip.base/
doc/bob.ip.color/
doc/bob.ip.dlib/
doc/bob.ip.draw/
doc/bob.ip.facedetect/
doc/bob.ip.facelandmarks/
doc/bob.ip.flandmark/
doc/bob.ip.gabor/
doc/bob.ip.optflow.hornschunck/
doc/bob.ip.optflow.liu/
doc/bob.ip.qualitymeasure/
doc/bob.ip.skincolorfilter/
doc/bob.learn.activation/
doc/bob.learn.boosting/
doc/bob.learn.em/
doc/bob.learn.libsvm/
doc/bob.learn.linear/
doc/bob.learn.mlp/
doc/bob.math/
doc/bob.measure/
doc/bob.pad.base/
doc/bob.pad.face/
doc/bob.pad.vein/
doc/bob.pad.voice/
doc/bob.sp/
doc/bob/
doc/extra-intersphinx.txt
doc/gridtk/
doc/nitpick-exceptions.txt
eggs/
sphinx/
doc/bob.ip.mtcnn
doc/bob.db.ijbc
doc/bob.db.hkpu
doc/bob.db.thufvdt
doc/bob.db.mmcbnu6k
doc/bob.db.hmtvein
doc/bob.rppg.base
doc/bob.db.cbsr_nir_vis_2
doc/bob.db.nivl
doc/bob.db.pola_thermal
doc/bob.db.cuhk_cufsf
doc/bob.ip.tensorflow_extractor
doc/bob.ip.caffe_extractor
doc/bob.bio.caffe_face
